footer {
  background: $foot-color;
  padding: 4em 0 0.05em 0;

  .footer__img {
    text-align: center;

    .footer--logo {
      width: 20%;
      margin: 0 0 4em 0;
    }
  }

  .footer__list {
    display: block;
    list-style: none;
    text-align: center;
    font-size: 18px;

    .footer__item {
      margin: 1em 0;
    }

    .footer__link {
      text-decoration: none;
      color: #808080;
      transition: color 150ms ease-in-out;
    }

    .footer__link:hover,
    .footer__link:focus {
      color: $primary-color;
    }
  }

  .social__icons.footer--col {
    text-align: center;
    margin: 3em 0;

    .fa-lg {
      font-size: 1.7em;
      color: #808080;
      transition: color 250ms ease-out;
    }

    .fa-lg:hover {
      color: $primary-color;
    }

    .svg-inline--fa {
      margin: 0 0.6em;
    }
  }

  .dev {
    text-align: center;

    .dev--info:hover {
      color: $primary-color;
    }
  }
}

@media (min-width: 992px) {
  footer .footer__list {
    text-align: start;
  }
  footer .footer__item {
    margin: 0;
  }

  footer .footer__img {
    width: 30%;
  }

  footer .footer__item {
    margin: 0 0 1.5em 0;
  }

  .footer--col {
    width: 20%;
  }

  .dev {
    margin: 2em 0 0 0;
  }
}
