.wrapper {
  background-image: url(/dist/images/bg-header-mobile.png);
  background-repeat: no-repeat;
}

.hero {
  .logo {
    text-align: center;
  }

  .main--logo {
    margin: 6em 0 1.5em 0;
  }

  .hero__intro {
    text-align: center;
  }

  .hero__intro p {
    margin: 0 0 2em 0;
  }

  .hero__cta {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .ios,
    .android {
      padding: 0.83em;
      border-radius: 50px;
      border: none;
      color: #fff;
      font-size: 19px;
      font-family: $font;
      font-weight: $font-primary;
      filter: drop-shadow(0px 5px 3px #cfd9de);
    }

    .ios {
      margin: 0.5em 0 1.2em 0;
      background: $primary-color;
    }

    .android {
      margin: 0 0 1.5em 0;
      background: $secondary-color;
    }
  }
}
