.wrapper {
  background-image: url(/dist/images/bg-header-mobile.png);
  background-repeat: no-repeat;
}

.hero {
  .logo {
    text-align: center;
  }

  .main--logo {
    margin: 6em 0 1.5em 0;
  }

  .hero__intro {
    text-align: center;
  }

  .hero__intro p {
    margin: 0 0 2em 0;
  }

  .hero__cta {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .ios,
    .android {
      padding: 0.83em;
      border-radius: 50px;
      border: none;
      color: #fff;
      font-size: 19px;
      font-family: $font;
      font-weight: $font-primary;
      filter: drop-shadow(0px 5px 3px #cfd9de);
      transition: all 250ms ease-out;
    }

    .ios:hover,
    .android:hover {
      transform: scale(1.05);
      letter-spacing: 1.33px;
    }

    .ios {
      margin: 0.5em 0 1.2em 0;
      background: $primary-color;
    }

    .android {
      margin: 0 0 1.5em 0;
      background: $secondary-color;
    }
  }
}

@media (min-width: 376px) {
  .wrapper {
    background: url(/dist/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  .hero .hero__cta {
    display: block;
    text-align: center;
  }

  .hero .hero__cta .ios {
    margin: 0.5em 2em 1.2em 0;
  }

  .hero .hero__cta .ios,
  .hero .hero__cta .android {
    padding: 1em 2em;
  }

  .hero .hero__intro h1 {
    font-size: 44px;
  }

  .hero .hero__intro p {
    font-size: 25px;
  }
}
