.intro {
  margin: 7em 0 0 0;

  .main__intro h2 {
    font-size: 28px;
    text-align: center;
    margin: 0 0 1em 0;
  }

  .main__intro p {
    text-align: center;
    margin: 0 0 5em 0;
  }
}

main {
  .main__img {
    text-align: center;
  }

  .main__content {
    margin: 3.5em 0 0 0;
  }

  .main__content h2 {
    text-align: center;
  }

  .main__content p {
    text-align: center;
    margin: 0 0 3em 0;
  }
}
@media (min-width: 992px) {
  .intro .main__intro h2 {
    font-size: 35px;
  }

  .intro .main__intro p {
    font-size: 20px;
  }

  main .main__img {
    margin: 0 0 0 -22em;
  }

  main .main__content {
    margin: 1em 0 0 5em;
  }

  main .main__content h2,
  main .main__content p {
    text-align: start;
  }
}
