*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
  /* added for nav-toggle positioning */
  position: relative;
}

@media (min-width: 992px) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .row--align {
    align-items: baseline;
  }

  .row--end {
    align-items: flex-start;
  }
}
