.secondary__section {
  margin: 9em 0 0 0;

  .title,
  .content {
    text-align: center;
  }

  .title,
  .bottom--title {
    font-size: 30px;
  }

  .content {
    margin: 0 0 4em;
  }

  .secondary__img {
    text-align: center;
  }

  .bottom--title {
    margin: 2em 0 0 0;
    text-align: center;
  }

  .bottom--content {
    text-align: center;
    margin: 1em 0 4em 0;
  }
}

@media (min-width: 992px) {
  .secondary__section .title,
  .secondary__section .bottom--title {
    font-size: 35px;
  }

  .secondary__section .content {
    font-size: 20px;
  }

  .secondary__section .bottom--content {
    font-size: 20px;
  }
}
